* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#707070;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform:uppercase;
    width:100%;
}

.app {
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

.gameTable {
	width: 100%;
	height: 100%;
	padding: 20px;
}

.gameTable td {
	width: 25%;
}

.gameButton {
	background-color: #008800;
    font-size:24pt;
	color: #FFFFFF;
	font-weight: bolder;
	width: 100%;
	height: 100%;
	border: 2px solid #00000;
	border-radius: 5px;
}

.redButton {
	background-color: #880000;
}
